.grid{
  margin: 0 4vw 0 2vw;
  display: grid;
  gap: 6vw;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.img-about{
  width: 100%;
}

.btns{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}