.grid{
  margin: 0 6vw 0 11vw;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.img-main{
  width: 100%;
}

.btns{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.quote{
  margin-top: 80px;
}

.q-author{
  font-size: 0.75rem;
  line-height: 1.125rem;
}

.wall-of-text > * {
  margin-bottom: 20px;
}