.grid{
  margin: 40px;
  margin-bottom: 0;
  height: 100%;
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);
  grid-template-areas: none;
}

.category{
  display: grid;
  grid-template-columns: minmax(auto, 500px) 1fr;
  min-width: 1px;
}

.category > div:first-child::after{
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  display: block;
  height: 100%;
  width: 2px;
  background: var(--accent-color);
}

.category > div:first-child{
  position: relative;
  padding: 20px;
}

.category h3{
  margin: 10px;
}

.category > div:first-of-type{
  flex: 1 1 0;
}

.category > div:last-of-type{
  flex: 0 0 auto;
}

.cat-flex{
  display: flex;
  flex-wrap: wrap;
}

.cat-sel{
  cursor: pointer;
  flex-shrink: 1;
  font-size: 0.625rem;
  line-height: 0.9375rem;
  padding: 12px 24px;
  background: #FFF;
  border: 1px solid var(--black);
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 800;
  margin: 5px;
}

.cat-sel.cat-selected{
  color: #FFF;
  background-color: var(--accent-color);
  border: none;
}

.category select{
  margin: 0 10px;
  font-size: 0.625rem;
  line-height: 0.9375rem;
  font-weight: 600;
  background: var(--accent-color);
  border-radius: 10px;
  color: #FFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  border: none;
}

.products{
  display: grid;
  grid-template-columns: auto 1fr;
  min-width: 1px;
}

.products > h3{
  margin: 0 20px;
}

.ls-header a{
  color: #FFF;
}

.ls-header{
  position: relative;
  padding: 20px;
}

.products .ls-header::after{
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  display: block;
  height: 100%;
  width: 2px;
  background: #FFF;
}

.prod-scroll{
  height: min-content;
  margin: 20px;
  overflow-x: auto;
  min-width: 300px;
  align-self: center;
}

.prod-scroll-inner{
  display: flex;
  flex-wrap: nowrap;
  float: left;
}

.product{
  margin: 20px;
  flex: 0 0 auto;
  width: 240px;
  height: 320px;
  background: #FFF;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: var(--black);
  display: grid;
  grid-template-rows: repeat(3, auto) 1fr;
  padding: 16px;
  justify-items: center;
}

.product > img{
  margin-top: 8px;
}

.product > p:first-of-type::before{
  content: "";
  display: block;
  position: relative;
  width: calc(100% + 24px);
  left: -12px;
  height: 1px;
  background: var(--accent-color);
  margin-bottom: 12px;
}

.product p{
  width: calc(100% - 24px);
  margin: 12px;
  font-size: 0.375rem;
  line-height: 0.5625rem;
  justify-self: start;
}

.product a{
  align-self: end;
  justify-self: end;
}

.sortby-wrapper{
  margin-right: 20px;
}