@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
  --black: #2F2E41;
  --accent-color: #3BB920;
}

body{
  height: 100vh;
  margin: 0;
  background: var(--white);
  display: grid;
  grid-template-rows: auto 1fr;
}

.navbar{
  margin: 20px 100px 20px 0;
  width: calc(100vw - 100px);
  display: flex;
  align-items: center;
}

.logo{
  margin: 0 40px;
  flex-grow: 1;
}

.nav-link{
  margin: 0 20px;
  flex-grow: auto;
}

.nav-link a{
  box-sizing: border-box;
  color: var(--black);
  text-decoration: none;
  transition: color 0.3s ease-in-out;

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 45px;
}

.nav-link a:hover{
  color: var(--accent-color);
}

.nav-active a{
  color: var(--accent-color);
  border-bottom: 3px solid var(--accent-color);
}

/* Alts */

.navbar.landing-buyer{
  margin-bottom: calc(20px + 30px);
}

.logo.landing-buyer{
  position: relative;
}

p.landing-buyer{
  position: absolute;
  margin: 0;
  font-size: 30px;
  line-height: 45px;
}

button.landsel{
  font-size: 30px;
  line-height: 45px;
  padding: 8px 16px;
}

@media (max-width: 1400px){
  .landing-buyer .logo{
    display: none;
  }

  .navbar.landing-buyer{
    margin: 20px 20px 20px 0;
    justify-content: flex-end;
  }
}

@media (max-width: 1100px){
  .navbar .logo{
    display: none;
  }

  .navbar{
    margin: 20px 20px 20px 0;
    justify-content: flex-end;
  }
}